<div class="trending-article">
    <p class="trending-article-title"><%= search_history["title"] %></p>
    <div class="search-times">
        <em>Searched <%= pluralize(search_history["number_of_times_searched"], 'time') %></em>
    </div>
</div>