<div class="trending-article">
    <p class="trending-article-title"><%= search_history.article.title %></p>
    <p><%= search_history.article.body %></p>
    <div class="search-times">
        <em>Searched <%= pluralize(search_count(@search_histories)[search_history.article.title], 'time') %></em>
    </div>
</div>