/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    padding: 25px;
    margin: 25px;
  }

  .main-title {
    text-align: center;
    margin-bottom: 24px;
  }

  .search-form {
    width: 70%;
    margin: auto;
  }

  .search-area-label-container {
    margin: 5px;
  }

  .search-label {
    font-size: 20px;
  }

  .search-area {
    width: 70%;
    height: 48px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #9ca1a1;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    outline: 0;
  }

  .search-area:hover, .search-area:focus {
    border: 2px solid #b8ddd9;
  }

  .search-button {
    height: 48px;
    width: 20%;
    font-size: 18px;
    border: 1px solid gray;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .search-button:hover {
    cursor: pointer;
  }

  .searches {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  .current-search-articles {
    padding: 16px;
  }

  .current-search-article {
    margin: 16px;
    color: rgb(148, 128, 128);
    font-size: 18px;
    font-weight: bold;
  }

  .current-search-article:hover {
    font-size: 24px;
    cursor: pointer;
    font-weight: bolder;
    color: red;
  }

  .trending-articles {
    padding: 15px;
    border: 1px solid rgb(204, 202, 202);
  }

  .trending-article {
    margin: 16px;
  }

  .trending-article-title {
    color: rgb(177, 168, 168);
    font-weight: bold;
    font-size: large;
  }

  .search-times {
    color: red;
    text-align:right;
  }

  .form-data {
    width: 70%;
    height: 48px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #9ca1a1;
    outline: 0;
  }

  .submit-buttons {
    height: 48px;
    width: 20%;
    font-size: 18px;
    border: 1px solid gray;
  }

  .form-label {
    margin: 16px;
  }

  .form-input, .form_button {
    margin: 18px;
  }